.DatosDelVehiculo{
    background-color: #0093d3;
    color: black;
    border-radius: 10px;
    text-align: center;
}
.Tramitador{
    background-color: #fff10c;
    color: black;
    border-radius: 10px;
    text-align: center;
}
.Carga{
    background-color: #cc006b;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.Hora{
    background-color: #000000;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.Revision{
    background-color: green;
    color: white;
    border-radius: 10px;
    text-align: center;
}
#Incompleto{
    background-color: darkred;
    color: white;
}
#Completo{
    background-color: darkgreen;
    color: white;
}
.Centrado{
    text-align: center;
}